@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat-Italic';
    src: url('fonts/Montserrat/Montserrat-MediumItalic.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('fonts/Montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('fonts/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('fonts/MonaSans/Mona-Sans.woff');
}

@font-face {
    font-family: 'Mona-Sans-SemiBold';
    src: url('fonts/MonaSans/Mona-Sans-SemiBold.woff');
}

@font-face {
    font-family: 'Mona-Sans-Bold';
    src: url('fonts/MonaSans/Mona-Sans-Bold.woff');
}

@font-face {
    font-family: 'Mona-Sans-ExtraBold';
    src: url('fonts/MonaSans/Mona-Sans-ExtraBold.woff');
}

@font-face {
    font-family: 'Mona-Sans-Black';
    src: url('fonts/MonaSans/Mona-Sans-Black.woff');
}

@font-face {
    font-family: 'Mona-Sans-BlackWide';
    src: url('fonts/MonaSans/Mona-Sans-BlackWide.woff');
}

@font-face {
    font-family: 'Mona-Sans-ExtraBoldWide';
    src: url('fonts/MonaSans/Mona-Sans-ExtraBoldWide.woff');
}

@font-face {
    font-family: 'Mona-Sans-BoldWide';
    src: url('fonts/MonaSans/Mona-Sans-BoldWide.woff');
}

@font-face {
    font-family: 'Jacksilver';
    src: url('fonts/Jacksilver/Jacksilver.woff');
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', 'Mona-Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
	--header-height: 80px;
	--section_01-height: 1000px;
	--section_02-height: 464px;
	--section_03-height: 665px;
	--section_04-height: 850px;
	--section_05-height: 850px;
	--footer-height: 150px;
}

header {
    box-sizing: border-box;
    position: sticky;
    width: 100%;
    margin: 0;
    padding: 12px 32px;
    top: 0;
    z-index: 1;
    transition: background-color 500ms ease-in-out;
}

header.transparent{
    background-color: transparent;
}

header.dark{
    background-color: #121212;
}

a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1280px) {
    .page {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        justify-content: flex-start;
        align-items: center;
        min-height: 80vh;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: auto;
        height: var(--header-height);
        margin: 0;
        padding: 0;
    }

    .links-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        gap: 12px;
    }

    .website-logo {
        width: 210px;
        height: 60px;
        flex-grow: 0;
    }

    .nav-link-frame {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100px;
        padding: 0;
    }

    .nav-link {
        font-family: 'Jacksilver';
        font-size: 2rem;
        text-align: left;
        text-decoration: none;
        color: #FFFFFF;
    }

    .nav-link:hover {
        color: #;
    }
}