@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat-Italic';
    src: url('fonts/Montserrat/Montserrat-MediumItalic.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('fonts/Montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('fonts/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('fonts/MonaSans/Mona-Sans.woff');
}

@font-face {
    font-family: 'Mona-Sans-SemiBold';
    src: url('fonts/MonaSans/Mona-Sans-SemiBold.woff');
}

@font-face {
    font-family: 'Mona-Sans-Bold';
    src: url('fonts/MonaSans/Mona-Sans-Bold.woff');
}

@font-face {
    font-family: 'Mona-Sans-ExtraBold';
    src: url('fonts/MonaSans/Mona-Sans-ExtraBold.woff');
}

@font-face {
    font-family: 'Mona-Sans-Black';
    src: url('fonts/MonaSans/Mona-Sans-Black.woff');
}

@font-face {
    font-family: 'Mona-Sans-BlackWide';
    src: url('fonts/MonaSans/Mona-Sans-BlackWide.woff');
}

@font-face {
    font-family: 'Mona-Sans-ExtraBoldWide';
    src: url('fonts/MonaSans/Mona-Sans-ExtraBoldWide.woff');
}

@font-face {
    font-family: 'Mona-Sans-BoldWide';
    src: url('fonts/MonaSans/Mona-Sans-BoldWide.woff');
}

@font-face {
    font-family: 'Jacksilver';
    src: url('fonts/Jacksilver/Jacksilver.woff');
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', 'Mona-Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
	--header-height: 80px;
	--section_01-height: 1000px;
	--section_02-height: 800px;
	--section_03-height: 700px;
	--section_04-height: 750px;
}

.nav-container {
    box-sizing: border-box;
    position: sticky;
    width: 100%;
    height: var(--header-height);
    margin: 0;
    top: 0;
    z-index: 1;
    transition: background-color 500ms ease-in-out;
}

.nav-container.transparent{
    background-color: transparent;
}

.nav-container.dark{
    background-color: #121212;
}

.footer-nav-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: auto;
    background-color: #121212;
    padding: 16px;
    gap: 32px;
}

a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 1440px) {
    .page {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        min-height: 80vh;
    }

    .bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: auto;
        height: var(--header-height);
        margin: 0 32px;
        padding: 0;
    }

    .links-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        gap: 12px;
    }

    .website-logo {
        width: 210px;
        height: 60px;
        flex-grow: 0;
    }

    .nav-link-frame {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100px;
        padding: 0;
    }

    .nav-link {
        font-family: 'Jacksilver';
        font-size: 1.5em;
        text-align: left;
        text-decoration: none;
        color: #FFFFFF;
    }

    .nav-link:hover {
        color: #875dff;
        transition: color 100ms ease-in-out;
    }

    .title-section {
        font-family: 'Montserrat';
        font-size: 1.5em;
        font-weight: 400;
        text-align: center;
        align-self: stretch;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        color: #FFFFFF;
        width: 100%;
        height: var(--section_01-height);
        padding-top: var(--header-height);
        margin-top: calc(-1*var(--header-height));
    }

    .text-container-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: -moz-fit-content;
        width: fit-content;
        position: relative;
        top: 35%;
    }

    .main-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 6em;
        font-weight: bolder;
        text-transform: uppercase;
    }

    .main-subtitle {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5em;
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 8px;
    }

    .welcome-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: var(--section_02-height);
        padding-top: var(--section_01-height);
        margin-top: calc(-1*var(--section_01-height));
    }

    .hero-content-1 {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 128px;
        gap: 128px;
    }

    .text-container-2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
    }

    .my-heading {
        font-family: 'Jacksilver';
        font-size: 4em;
        font-weight: 400;
        text-align: left;
    }

    .text-1 {
        font-family: 'Montserrat';
        font-size: 1em;
        font-weight: 400;
        text-align: left;
        align-self: stretch;
        display: inline-block;
        color: #121212;
    }

    .welcome-section-image {
        max-width: 100%;
        width: 90%;
        position: relative;
        object-fit: cover;
    }

    .last-release-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: var(--section_03-height);
        padding-top: var(--section_02-height);
        margin-top: calc(-1*var(--section_02-height));
    }

    .hero-content-2 {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 128px;
    }

    .last-release-info-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        gap: 10px;
    }

    .last-release-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        text-transform: uppercase;
        font-family: 'Montserrat-SemiBold', sans-serif;
        color: #121212;
    }

    .last-release-date {
        font-size: 1em;
    }

    .last-release-title {
        font-family: 'Montserrat-ExtraBold';
        font-size: 4em;
    }

    .available-on {
        font-family: 'Montserrat-Bold';
        font-size: 1.25em;
    }

    .streaming-links-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        gap: 10px;
    }

    .icon-1 {
        width: 2.5em;
    }

    .previous-releases-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: var(--section_04-height);
        padding-top: var(--section_03-height);
        margin-top: calc(-1*var(--section_03-height));
    }

    .hero-content-3 {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 128px;
    }

    .releases-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 16px;
    }

    .previous-releases-heading {
        font-family: 'Montserrat-Bold', sans-serif;
        font-size: 1.25em;
        font-weight: 500;
        text-align: left;
        align-self: stretch;
        color: #121212;
        text-transform: uppercase;
    }

    .releases {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #release-01, #release-02, #release-03 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
    }

    .release-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .release-title {
        font-family: 'Montserrat-ExtraBold', sans-serif;
        font-size: 1.5em;
        font-weight: 900;
        color: #121212;
        text-transform: uppercase;
    }

    .release-date {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        font-weight: 500;
        color: #121212;
        text-transform: uppercase;
    }

    .cover {
        width: 380px;
        height: 380px;
        object-fit: cover;
    }

    .icon-button, .soundcloud-icon {
        height: 40px;
        width: 40px;
    }

    .footer-navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: auto;
        padding: 0;
    }

    .footer-logo-links-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        gap: 16px;
    }

    .footer-links-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        gap: 28px;
    }

    .social-links-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        gap: 16px;
    }

    .social-link-frame, .social-link, .social-icon {
        height: 40px;
        width: 40px;
    }

    .copyright-container {
        font-family: 'Montserrat', sans-serif;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
    }

    .copyright-container a {
        display: inline;
    }
}