@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat-Italic';
    src: url('fonts/Montserrat/Montserrat-MediumItalic.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('fonts/Montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('fonts/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('fonts/MonaSans/Mona-Sans.woff');
}

@font-face {
    font-family: 'Mona-Sans-SemiBold';
    src: url('fonts/MonaSans/Mona-Sans-SemiBold.woff');
}

@font-face {
    font-family: 'Mona-Sans-Bold';
    src: url('fonts/MonaSans/Mona-Sans-Bold.woff');
}

@font-face {
    font-family: 'Mona-Sans-ExtraBold';
    src: url('fonts/MonaSans/Mona-Sans-ExtraBold.woff');
}

@font-face {
    font-family: 'Mona-Sans-Black';
    src: url('fonts/MonaSans/Mona-Sans-Black.woff');
}

@font-face {
    font-family: 'Mona-Sans-BlackWide';
    src: url('fonts/MonaSans/Mona-Sans-BlackWide.woff');
}

@font-face {
    font-family: 'Mona-Sans-ExtraBoldWide';
    src: url('fonts/MonaSans/Mona-Sans-ExtraBoldWide.woff');
}

@font-face {
    font-family: 'Mona-Sans-BoldWide';
    src: url('fonts/MonaSans/Mona-Sans-BoldWide.woff');
}

@font-face {
    font-family: 'Jacksilver';
    src: url('fonts/Jacksilver/Jacksilver.woff');
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', 'Mona-Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav-container {
    box-sizing: border-box;
    position: sticky;
    width: 100%;
    height: var(--header-height);
    margin: 0;
    top: 0;
    z-index: 1;
    transition: background-color 500ms ease-in-out;
    padding:0 10px;
}

.nav-container.transparent{
    background-color: transparent;
}

.nav-container.dark{
    background-color: #121212;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: auto;
    background-color: #121212;
    padding: 16px;
}

a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    :root {
        --header-height: 80px;
        --laptop-header-height: 64px;
        --section_01-height: 800px;
        --section_02-height: 600px;
        --section_03-height: 650px;
        --section_04-height: 650px;
        --desktop-width: 1280px;
        --laptop-width: 1024px;
        --bg-image-height: 100vh;
    }

    .page {
        max-width: var(--desktop-width);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        min-height: 100vh;
        margin: 0 auto;
    }

    .bg-image {
        position: absolute;
        background: url("styles/images/bg-image.png") no-repeat;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: var(--bg-image-height);
        object-fit: cover;
        z-index: -1;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: var(--desktop-width);
        width: 100%;
        height: var(--header-height);
        margin: 0 auto;
    }

    .links-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        gap: 12px;
    }

    .website-logo {
        width: 210px;
        height: 60px;
        object-fit: contain;
    }

    .nav-link-frame {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100px;
        padding: 0;
    }

    .nav-link {
        font-family: 'Jacksilver';
        font-size: 1.5em;
        text-align: left;
        text-decoration: none;
        color: #FFFFFF;
    }

    .nav-link:hover {
        color: #875dff;
        transition: color 100ms ease-in-out;
    }

    .title-section {
        font-family: 'Montserrat';
        font-size: 1.5em;
        font-weight: 400;
        text-align: center;
        align-self: stretch;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        color: #FFFFFF;
        width: 100%;
        height: var(--section_01-height);
        padding-top: var(--header-height);
        margin-top: calc(-1*var(--header-height));
    }

    .text-container-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: -moz-fit-content;
        width: fit-content;
        position: relative;
        top: 35%;
    }

    .main-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 6em;
        font-weight: bolder;
        text-transform: uppercase;
    }

    .main-subtitle {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5em;
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 8px;
    }

    .welcome-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: var(--section_02-height);
        padding-top: var(--section_01-height);
        margin-top: calc(-0.85*var(--section_01-height));
    }

    .hero-content-1 {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 56px;
        gap: 224px;
    }

    .text-container-2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
    }

    .my-heading {
        font-family: 'Jacksilver';
        font-size: 4em;
        font-weight: 400;
        text-align: left;
    }

    .text-1 {
        font-family: 'Montserrat';
        font-size: 1em;
        font-weight: 400;
        text-align: left;
        align-self: stretch;
        display: inline-block;
        color: #121212;
    }

    .welcome-section-image-container {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .welcome-section-image {
        max-width: 100%;
        width: 800px;
        height: min-content;
        position: relative;
        object-fit: cover;
    }

    .last-release-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: var(--section_03-height);
        padding-top: var(--section_02-height);
        margin-top: calc(-1*var(--section_02-height));
    }

    .hero-content-2 {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 56px;
    }

    .last-release-info-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        gap: 10px;
    }

    .last-release-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        text-transform: uppercase;
        font-family: 'Montserrat-SemiBold', sans-serif;
        color: #121212;
    }

    .last-release-date {
        font-size: 1em;
    }

    .last-release-title {
        font-family: 'Montserrat-ExtraBold';
        font-size: 4em;
    }

    .available-on {
        font-family: 'Montserrat-Bold';
        font-size: 1.25em;
    }

    .streaming-links-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        gap: 10px;
    }

    .icon-1 {
        width: 2.5em;
    }

    .previous-releases-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: var(--section_04-height);
        padding-top: var(--section_03-height);
        margin-top: calc(-1*var(--section_03-height));
    }

    .hero-content-3 {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 56px;
    }

    .releases-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 16px;
    }

    .previous-releases-heading {
        font-family: 'Montserrat-Bold', sans-serif;
        font-size: 1.25em;
        font-weight: 500;
        text-align: left;
        color: #121212;
        text-transform: uppercase;
    }

    .releases {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }

    #release-01, #release-02, #release-03 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
    }

    .releases .cover {
        width: 350px;
        height: 350px;
    }

    .release-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .release-title {
        font-family: 'Montserrat-ExtraBold', sans-serif;
        font-size: 1.5em;
        font-weight: 900;
        color: #121212;
        text-transform: uppercase;
    }

    .release-date {
        font-family: 'Montserrat', sans-serif;
        font-size: 1em;
        font-weight: 500;
        color: #121212;
        text-transform: uppercase;
    }

    .cover {
        width: 380px;
        height: 380px;
        object-fit: cover;
    }

    .icon-button, .soundcloud-icon {
        height: 40px;
        width: 40px;
    }

    .footer-content {
        max-width: var(--desktop-width);
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 32px;
    }

    .footer-navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: auto;
        padding: 0;
    }

    .footer-logo-links-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        gap: 24px;
    }

    .footer-links-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        gap: 24px;
    }

    .social-links-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        gap: 16px;
    }

    .social-link-frame, .social-link, .social-icon {
        height: 2em;
        width: 2em;
    }

    .copyright-container {
        font-family: 'Montserrat', sans-serif;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
    }

    .copyright-container a {
        display: inline;
    }
}
/*
    ##Device = Laptops, Desktops
    ##Screen = 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    :root {
        --header-height: 80px;
        --laptop-header-height: 64px;
        --section_01-height: 800px;
        --section_02-height: 600px;
        --section_03-height: 650px;
        --section_04-height: 650px;
        --desktop-width: 1280px;
        --laptop-width: 1024px;
        --bg-image-height: 100vh;
    }

    .page {
        max-width: var(--laptop-width);
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        min-height: 100vh;
        margin: 0 auto;
    }

    .bg-image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: var(--bg-image-height);
        object-fit: cover;
        z-index: -1;
    }

    .nav-container {
        display: flex;
        height: var(--laptop-header-height);
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: var(--laptop-width);
        width: 100%;
        height: var(--laptop-header-height);
        margin: 0 auto;
    }

    .links-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        gap: 0.25em;
    }

    .website-logo {
        width: 160px;
        height: fit-content;
        object-fit: contain;
    }

    .nav-link-frame {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100px;
        padding: 0;
    }

    .nav-link {
        font-family: 'Jacksilver';
        font-size: 1.25em;
        text-align: left;
        text-decoration: none;
        color: #FFFFFF;
    }

    .nav-link:hover {
        color: #9974ff;
        transition: color 100ms ease-in-out;
    }

    .title-section {
        font-family: 'Montserrat';
        font-size: 1.5em;
        font-weight: 400;
        text-align: center;
        align-self: stretch;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        color: #FFFFFF;
        width: 100%;
        height: var(--section_01-height);
        padding-top: var(--laptop-header-height);
        margin-top: calc(-1*var(--laptop-header-height));
    }

    .text-container-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: -moz-fit-content;
        width: fit-content;
        position: relative;
        top: 35%;
    }

    .main-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 6em;
        font-weight: bolder;
        text-transform: uppercase;
    }

    .main-subtitle {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5em;
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 8px;
    }

    .welcome-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: var(--section_02-height);
        padding-top: var(--section_01-height);
        margin-top: calc(-1*var(--section_01-height));
    }

    .hero-content-1 {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        gap: 80px;
    }

    .text-container-2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
    }

    .my-heading {
        font-family: 'Jacksilver';
        font-size: 3em;
        font-weight: 400;
        text-align: left;
    }

    .text-1 {
        font-family: 'Montserrat';
        font-size: 0.85em;
        font-weight: 400;
        text-align: left;
        align-self: stretch;
        display: inline-block;
        color: #121212;
    }

    .welcome-section-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 70%;
        height: 100%;
    }

    .welcome-section-image {
        max-width: 100%;
        width: 100%;
        position: relative;
        object-fit: cover;
    }

    .last-release-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: var(--section_03-height);
        padding-top: var(--section_02-height);
        margin-top: calc(-1*var(--section_02-height));
    }

    .hero-content-2 {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
    }

    .last-release-info-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        gap: 0.5em;
    }

    .last-release-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        text-transform: uppercase;
        font-family: 'Montserrat-SemiBold', sans-serif;
        color: #121212;
    }

    .last-release-date {
        font-size: 0.85em;
    }

    .last-release-title {
        font-family: 'Montserrat-ExtraBold';
        font-size: 3em;
    }

    .available-on {
        font-family: 'Montserrat-Bold';
        font-size: 1em;
    }

    .streaming-links-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        gap: 0.5em;
    }

    .icon-1 {
        width: 2em;
    }

    .previous-releases-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: var(--section_04-height);
        padding-top: var(--section_03-height);
        margin-top: calc(-1*var(--section_03-height));
    }

    .hero-content-3 {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 16px;
    }

    .releases-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1em;
    }

    .previous-releases-heading {
        font-family: 'Montserrat-Bold', sans-serif;
        font-size: 1em;
        font-weight: 500;
        text-align: left;
        color: #121212;
        text-transform: uppercase;
    }

    .releases {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }

    #release-01, #release-02, #release-03 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;
    }

    .releases .cover {
        width: 310px;
        height: 310px;
        object-fit: cover;
    }

    .release-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .release-title {
        font-family: 'Montserrat-ExtraBold', sans-serif;
        font-size: 1.25em;
        font-weight: 900;
        color: #121212;
        text-transform: uppercase;
    }

    .release-date {
        font-family: 'Montserrat', sans-serif;
        font-size:  1em;
        font-weight: 500;
        color: #121212;
        text-transform: uppercase;
    }

    .last-release-section .cover {
        width: 350px;
        height: 350px;
        object-fit: cover;
    }

    .icon-button, .soundcloud-icon {
        height: 40px;
        width: 40px;
    }

    .footer-content {
        max-width: var(--laptop-width);
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;
    }

    .footer-navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: auto;
        padding: 0;
    }

    .footer-logo-links-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        gap: 1em;
    }

    .footer-links-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        gap: 1em;
    }

    .social-links-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        gap: 0.5em;
    }

    .social-link-frame, .social-link, .social-icon {
        height: 1.5em;
        width: 1.5em;
    }

    .copyright-container {
        font-family: 'Montserrat', sans-serif;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
    }

    .copyright-container a {
        display: inline;
    }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 768px) and (max-width: 1024px) {

    :root {
        --header-height: 64px;
        --section_01-height: 800px;
        --section_02-height: 550px;
        --section_03-height: 650px;
        --section_04-height: 650px;
        --main-width: 1024px;
        --bg-height: 100%;
    }
    .page {
        max-width: var(--main-width);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 100vh;
        margin: 0 auto;
    }

    .bg-image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: var(--bg-height);
        object-fit: cover;
    }

    .nav-container {
        display: flex;
        height: var(--header-height);
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: var(--main-width);
        width: 100%;
        height: var(--header-height);
        margin: 0 auto;
    }

    .links-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        gap: 0.25em;
    }

    .website-logo {
        width: 160px;
        height: fit-content;
        object-fit: contain;
    }

    .nav-link-frame {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100px;
        padding: 0;
    }

    .nav-link {
        font-family: 'Jacksilver';
        font-size: 1.25em;
        text-align: left;
        text-decoration: none;
        color: #FFFFFF;
    }

    .nav-link:hover {
        color: #9974ff;
        transition: color 100ms ease-in-out;
    }

    .title-section {
        font-family: 'Montserrat';
        font-size: 1.5em;
        font-weight: 400;
        text-align: center;
        align-self: stretch;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        color: #FFFFFF;
        width: 100%;
        height: var(--section_01-height);
        padding-top: var(--header-height);
        margin-top: calc(-1*var(--header-height));
    }

    .text-container-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: -moz-fit-content;
        width: fit-content;
        position: relative;
        top: 35%;
    }

    .main-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 6em;
        font-weight: bolder;
        text-transform: uppercase;
    }

    .main-subtitle {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5em;
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 8px;
    }

    .welcome-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: var(--section_02-height);
        padding-top: var(--section_01-height);
        margin-top: calc(-1*var(--section_01-height));
    }

    .hero-content-1 {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        gap: 80px;
    }

    .text-container-2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
    }

    #br-2 {
        display: none;
    }

    .my-heading {
        font-family: 'Jacksilver';
        font-size: 3em;
        font-weight: 400;
        text-align: left;
    }

    .text-1 {
        font-family: 'Montserrat';
        font-size: 0.85em;
        font-weight: 400;
        text-align: left;
        align-self: stretch;
        display: inline-block;
        color: #121212;
    }

    .welcome-section-image-container {
        display: none;
    }

    .last-release-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: var(--section_03-height);
        padding-top: var(--section_02-height);
        margin-top: calc(-1*var(--section_02-height));
    }

    .hero-content-2 {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
    }

    .last-release-info-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        gap: 0.5em;
    }

    .last-release-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        text-transform: uppercase;
        font-family: 'Montserrat-SemiBold', sans-serif;
        color: #121212;
    }

    .last-release-date {
        font-size: 0.85em;
    }

    .last-release-title {
        font-family: 'Montserrat-ExtraBold';
        font-size: 3em;
    }

    .available-on {
        font-family: 'Montserrat-Bold';
        font-size: 1em;
    }

    .streaming-links-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        gap: 0.5em;
    }

    .icon-1 {
        width: 2em;
    }

    .previous-releases-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: var(--section_04-height);
        padding-top: var(--section_03-height);
        margin-top: calc(-1*var(--section_03-height));
    }

    .hero-content-3 {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 16px;
    }

    .releases-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1em;
    }

    .previous-releases-heading {
        font-family: 'Montserrat-Bold', sans-serif;
        font-size: 1em;
        font-weight: 500;
        text-align: left;
        color: #121212;
        text-transform: uppercase;
    }

    .releases {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0.5em;
    }

    #release-01, #release-02, #release-03 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;
    }

    .releases .cover {
        width: 240px;
        height: 240px;
        object-fit: cover;
    }

    .release-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .release-title {
        font-family: 'Montserrat-ExtraBold', sans-serif;
        font-size: 1.25em;
        font-weight: 900;
        color: #121212;
        text-transform: uppercase;
    }

    .release-date {
        font-family: 'Montserrat', sans-serif;
        font-size:  1em;
        font-weight: 500;
        color: #121212;
        text-transform: uppercase;
    }

    .last-release-section .cover {
        width: 350px;
        height: 350px;
        object-fit: cover;
    }

    .icon-button, .soundcloud-icon {
        height: 40px;
        width: 40px;
    }

    .footer-content {
        max-width: var(--main-width);
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;
    }

    .footer-navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: auto;
        padding: 0;
    }

    .footer-logo-links-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        gap: 1em;
    }

    .footer-links-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        gap: 1em;
    }

    .social-links-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        gap: 0.5em;
    }

    .social-link-frame, .social-link, .social-icon {
        height: 1.5em;
        width: 1.5em;
    }

    .copyright-container {
        font-family: 'Montserrat', sans-serif;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
    }

    .copyright-container a {
        display: inline;
    }
}

/*
    ##Device = Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 767px
*/

@media (min-width: 320px) and (max-width: 767px) {
    :root {
        --header-height: 64px;
        --section_01-height: 240px;
        --section_02-height: 480px;
        --section_03-height: 650px;
        --section_04-height: 1200px;
        --main-width: 767px;
        --bg-height: 320px;
    }

    .page {
        max-width: var(--main-width);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 100vh;
        margin: 0 auto;
    }

    .bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: var(--bg-height);
        object-fit: cover;
    }

    .nav-container {
        display: flex;
        height: var(--header-height);
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: var(--main-width);
        width: 100%;
        height: var(--header-height);
        margin: 0 auto;
    }

    .links-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        gap: 0.25em;
    }

    .website-logo {
        display: none;
        width: 160px;
        height: fit-content;
        object-fit: contain;
    }

    .nav-link-frame {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100px;
        padding: 0;
    }

    .nav-link {
        font-family: 'Jacksilver';
        font-size: 1.25em;
        text-align: left;
        text-decoration: none;
        color: #FFFFFF;
    }

    .nav-link:hover {
        color: #9974ff;
        transition: color 200ms ease-in-out;
    }

    .title-section {
        font-family: 'Montserrat';
        font-size: 1.5em;
        font-weight: 400;
        text-align: center;
        align-self: stretch;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        color: #FFFFFF;
        width: 100%;
        height: var(--section_01-height);
        padding-top: var(--header-height);
        margin-top: calc(-1*var(--header-height));
        position: relative;
    }

    .text-container-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: -moz-fit-content;
        width: fit-content;
        position: relative;
        top: 35%;
    }

    .main-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 6em;
        font-weight: bolder;
        text-transform: uppercase;
    }

    .main-subtitle {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5em;
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 8px;
    }

    .welcome-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: var(--section_02-height);
        padding-top: var(--section_01-height);
        margin-top: calc(-1*var(--section_01-height));
    }

    .hero-content-1 {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        gap: 80px;
    }

    .text-container-2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
    }

    .my-heading {
        font-family: 'Jacksilver';
        font-size: 2em;
        font-weight: 400;
        text-align: left;
    }

    .text-1 {
        font-family: 'Montserrat';
        font-size: 0.85em;
        font-weight: 400;
        text-align: left;
        align-self: stretch;
        display: inline-block;
        color: #121212;
    }

    #br-1, #br-2, #br-3 {
        display: none;
    }

    .welcome-section-image-container {
        display: none;
    }

    .last-release-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: var(--section_03-height);
        padding-top: var(--section_02-height);
        margin-top: calc(-1*var(--section_02-height));
    }

    .last-release-section .cover {
        width: 280px;
        height: 280px;
        object-fit: cover;
    }

    .hero-content-2 {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        gap: 1em;
    }

    .last-release-info-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        gap: 0.5em;
    }

    .last-release-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        text-transform: uppercase;
        font-family: 'Montserrat-SemiBold', sans-serif;
        color: #121212;
    }

    .last-release-date {
        font-size: 0.85em;
    }

    .last-release-title {
        font-family: 'Montserrat-ExtraBold';
        font-size: 2.5em;
    }

    .available-on {
        font-family: 'Montserrat-Bold';
        font-size: 1em;
    }

    .streaming-links-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        gap: 0.5em;
    }

    .icon-1 {
        width: 2em;
    }

    .previous-releases-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: var(--section_04-height);
        padding-top: var(--section_03-height);
        margin-top: calc(-1*var(--section_03-height));
    }

    .hero-content-3 {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .releases-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }

    .previous-releases-heading {
        font-family: 'Montserrat-Bold', sans-serif;
        font-size: 1.5em;
        font-weight: 500;
        text-align: left;
        color: #121212;
        text-transform: uppercase;
    }

    .releases {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
    }

    #release-01, #release-02, #release-03 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.6em;
    }

    .releases .cover {
        width: 240px;
        height: 240px;
        object-fit: cover;
    }

    .release-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .release-title {
        font-family: 'Montserrat-ExtraBold', sans-serif;
        font-size: 1.2em;
        font-weight: 900;
        color: #121212;
        text-transform: uppercase;
    }

    .release-date {
        font-family: 'Montserrat', sans-serif;
        font-size:  0.8em;
        font-weight: 500;
        color: #121212;
        text-transform: uppercase;
    }

    .icon-button, .soundcloud-icon {
        height: 2em;
        width: 2em;
    }

    .footer-content {
        max-width: var(--main-width);
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;
    }

    .footer-navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: auto;
        padding: 0;
    }

    .footer-logo-links-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
    }

    .footer-links-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        gap: 1em;
    }

    .footer-content .nav-link {
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-size: 1em;
    }

    .social-links-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        gap: 0.5em;
    }

    .social-link-frame, .social-link, .social-icon {
        height: 1.5em;
        width: 1.5em;
    }

    .copyright-container {
        font-family: 'Montserrat', sans-serif;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
    }

    .copyright {
        font-size: 0.8em;
    }

}