@font-face {
    font-family: 'MonaSans';
    src: url(../assets/fonts/MonaSans/Mona-Sans.ttf);
}

@font-face {
    font-family: 'MonaSans Expanded';
    src: url(../assets/fonts/MonaSans/MonaSansExpanded-SemiBold.ttf);
}

:root {
    --darkPurple: #1d1128;
    --majorelleBlue: #6e54ff;
    --mauve: #b5a8ff;
    --periwinkle: #ccccea;
    --white: #fffdfd;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: var(--white);
}

body {
    font-size: 1.6rem;
}

/* *****************************************************************
GENERALITIES
***************************************************************** */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1.5;
    color: var(--darkPurple);
    font-family: 'MonaSans', sans-serif;
}

h1, h2, h3, p {
    margin: 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

a {
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: fit-content;
}

a:hover {
    text-decoration: none;
    color: var(--majorelleBlue);
    transition: 200ms ease-in-out;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 3.2rem;
    padding: 0 7%;
}

article {
    padding: 0 1rem;
}

img {
    object-fit: cover;
}

ul {
    list-style: none;
}

/* *****************************************************************
CONTAINER
***************************************************************** */

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* *****************************************************************
MAIN LAYOUT
***************************************************************** */

.header, .footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: 'MonaSans Expanded';
    background-color: var(--darkPurple);
    color: var(--periwinkle);
    padding: 0 7%;
}

.header {
    flex-direction: row;
    align-items: center;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    position: relative;
}

.footer {
    flex-direction: column;
    align-items: stretch;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    row-gap: 1.6rem;
}

/* *****************************************************************
VARIOUS
***************************************************************** */

.website-logo {
    width: 200px;
}

.header nav, .footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-section img {
    overflow: hidden;
    width: 100%;
}

.icons {
    width: 24px;
    height: 24px;
}

.cover {
    width: 250px
}
/* *****************************************************************
HERO SECTION
***************************************************************** */

#hero-container {
    display: flex;
    align-items: center;
    height: 700px;
}

#hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}

#hero-content h1 {
    margin: 0;
}

#hero-content img {
    width: 400px;
}

/* *****************************************************************
LAST RELEASE SECTION
***************************************************************** */

#last-release_section {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap:3.2rem;
}

#last-release_section h2 {
    text-transform: capitalize;
}

#last-release {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25%;
}

#last-release img {
    width: 400px;
}

#last-release .release-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.release-info .release-text {
    line-height: 3.2rem;
}

.release-text h2 {
    font-size: 4rem;
}

.release-text .release-date {
    font-weight: bold;
}

.release-info .release-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.2rem;
}

/* *****************************************************************
PREVIOUS RELEASES SECTION
***************************************************************** */

#previous-releases_section {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 3.2rem;
}

#previous-releases_section h2 {
    text-transform: capitalize;
}

#previous-releases {
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
}

#previous-releases .card {
    display: flex;
    flex: 0 0 250px;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    max-width: 100%;
}

.card h2 {
    font-size: 2rem;
}

.card .release-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card .release-info .icons {
    width: 3.2rem;
    height: 3.2rem;
}

.card .release-in_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}