@font-face {
    font-family: 'MonaSans';
    src: url('fonts/MonaSans/Mona-Sans.ttf');
}

@font-face {
    font-family: 'Jacksilver';
    src: url('fonts/Jacksilver/Jacksilver.woff');
}

body {
    height: 100%;
    margin: 0;
    font-family: 'MonaSans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav-container {
    box-sizing: border-box;
    position: sticky;
    width: 100%;
    height: var(--header-height);
    margin: 0;
    top: 0;
    z-index: 1;
    transition: background-color 500ms ease-in-out;
    padding:0 10px;
}

.nav-container.transparent{
    background-color: transparent;
}

.nav-container.dark{
    background-color: #121212;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: auto;
    background-color: #121212;
    padding: 16px;
}

a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}