@font-face {
    font-family: 'MonaSans';
    src: url(fonts/MonaSans/Mona-Sans.ttf);
}

@font-face {
    font-family: 'MonaSans Condensed';
    src: url(fonts/MonaSans/MonaSansCondensed-SemiBoldItalic.ttf);
}

@font-face {
    font-family: 'MonaSans Expanded';
    src: url(fonts/MonaSans/MonaSansExpanded-SemiBold.ttf);
}

@font-face {
    font-family:'CloisterBlack';
    src: url(fonts/CloisterBlack.ttf);
}

:root {
    --darkPurple: #1d1128;
    --majorelleBlue: #6e54ff;
    --mauve: #b5a8ff;
    --periwinkle: #ccccea;
    --white: #fffdfd;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: var(--white);
}

body {
    font-size: 1.6rem;
}

/* *****************************************************************
GENERALITIES
***************************************************************** */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1.5;
    color: var(--darkPurple);
    font-family: 'MonaSans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

a {
    display: flex;
    align-items: center;
    align-content: center;
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: var(--majorelleBlue);
    transition: 200ms ease-in-out;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 3.2rem;
    padding: 0 7%;
}

article {
    padding: 0 1rem;
}

img {
    object-fit: cover;
}

ul {
    list-style: none;
}

/* *****************************************************************
CONTAINER
***************************************************************** */

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* *****************************************************************
MAIN LAYOUT
***************************************************************** */

.header, .footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: 'MonaSans Expanded';
    background-color: var(--darkPurple);
    color: var(--periwinkle);
    padding: 0 7%;
}

.header {
    flex-direction: row;
    align-items: center;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    position: relative;
}

.footer {
    flex-direction: column;
    align-items: stretch;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    row-gap: 1.6rem;
}

/* *****************************************************************
VARIOUS
***************************************************************** */

.website-logo {
    width: 200px;
}

.header nav, .footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-section .bg-image {
    position: absolute;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
}

/* .nav-container {
    box-sizing: border-box;
    position: sticky;
    width: 100%;
    height: var(--header-height);
    margin: 0;
    top: 0;
    z-index: 1;
    transition: background-color 300ms ease-in-out;
}

.nav-container.transparent{
    background-color: transparent;
}

.nav-container.dark{
    background-color: #121212;
} */

/* .footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: auto;
    background-color: #121212;
    padding: 16px;
} */